<div>
    <template v-if="!loaded">
        <p>loading</p>
    </template>
    <template v-else-if="projectName">
        <h1>
            <template v-if="tid">Editing</template>
            <template v-else>New</template>
            Type for project {{projectName}}
        </h1>
        <p>Type Name: <input v-model="name" type="text" /></p>

        <button v-on:click="addNewGroup">+ new property</button>
        <!-- property groups -->
        <div class="prop-groups">
            <div class="group" v-for="(group, index) in propGroups">
                <div>
                    <i class="iicon mdi mdi-delete" title="Delete Group" v-on:click="removeGroup(index)"></i>
                </div>
                <button v-if="group.type == 'New Type'" v-on:click="selectNewType">+ new</button>
                <select v-model="group.type">
                    <option>Text</option>
                    <option>Number</option>
                    <option>New Type</option>
                    <option v-for="type in projectTypes" :value="type.__id">{{type.props.name}}</option>
                </select>
                <input type="text" v-model="group.name" placeholder="property name"><br>
                <label>List</label><input type="checkbox" v-model="group.list" ><br>
            </div>
        </div>

        <button :disabled="!name" v-on:click="saveType">Submit</button>
        <button><router-link class="plain-a" :to="parentUrl">Cancel</router-link></button>
    </template>
    <template v-else>
        <p>Given project ID does not exist</p>
    </template>
</div>